
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
   background-color: rgb(226, 223, 219);
}

button{
  cursor: pointer;
  border: 0;
}

a{
  text-decoration: none;
}