
.header{
    width: 100%;
    z-index: 99;
    position: fixed;
    background-color: #fff;
}

.fixed{
    position: fixed;
    background-color: rgba(252,252,252,0.73);
     -webkit-box-shadow: 0px 6px 20px -12px rgba(0,0,0,0.06);
     -moz-box-shadow: 0px 6px 20px -12px rgba(0,0,0,0.06);
     box-shadow: 0px 6px 20px -12px rgba(0,0,0,0.06);
     backdrop-filter: blur(4px);
}

.background{
    background-color: #fff;

}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 14px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}