
.header{
    width: 100%;
    z-index: 99;
    position: fixed;
    background-color: rgb(211, 207, 207);
}

.fixed{
    position: fixed;
    background-color: rgb(211, 207, 207);
     -webkit-box-shadow: 0px 6px 20px -12px rgba(0,0,0,0.06);
     -moz-box-shadow: 0px 6px 20px -12px rgba(0,0,0,0.06);
     box-shadow: 0px 6px 20px -12px rgba(0,0,0,0.06);
     backdrop-filter: blur(4px);
}

.background{
    background-color: rgba(29, 121, 57, 0.738);
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 14px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.contentLogo a{
    font-weight: bold;
    font-size: 18px;
    color:white;
   
}
.nav{
    display: flex;
    gap: 12px;
a{
    font-weight: medium;
    color: #121212;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    transition: all 0.3s;
    
}

a:hover{
    font-weight: bold;
    transform: scale(1.05);
    
}
}

@media (min-width: 640px){
    .contentLogo a{
    font-weight: bold;
    font-size: 29px;
    color: white;
  border-radius: 4px;
}

.nav{
    display: flex;
    gap: 14px;
a{
    font-weight: medium;
    color: #121212;
    display: flex;
    align-items: center;
    padding: 8px 14px;
    transition: all 0.3s;
    font: bold;
}

a:hover{
    font-weight: bold;
    transform: scale(1.05);
    
}
}

}