
.submenu{
    margin: 0 auto;
    max-width: 1280px;
    padding: 64px 14px 4px 14px;

}

.submenuIcon{
    display: none;
    gap: 14px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.ul{
    display: none;
    list-style: none;
    padding: 14px 0;
    row-gap: 24px;
    column-gap: 14px;

li a{
   background-color:    rgba(29, 121, 57, 0.738);
   color: black;
   padding: 8px 14px;
   border-radius: 4px;
   font-size: 12px;
  }
  li a:hover{
    background-color:  rgba(29, 121, 57, 0.988);
   color: white;
  }
}

.classButton{
    background: transparent;
   
}

@media (min-width: 768px){
    .ul{
        display: flex;
    }
}

@media (max-width: 768px){
     .submenuIcon{
     display: inline-flex;
     height: 100%;
    }

    .ul{
        z-index: 99;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: white;
        width: 100%;
        height: 100%;


        &.open{
            display: flex;
        }
    }

    .ul li {
        a{
            background-color: transparent;
            color: black;
            font-size: 20px;
            font-weight: bold;
            transition: all 0.8s;
        }
      a:hover{
            background-color: black;
            color: white;
        }

    }

}